

.sep-n {
    height:10px;
}

.link-status-container {
    text-align: center;
    height: 20px;
}

.link-input {
    width: 400px;
    height: 25px;
}

.connect-button {
    width : 40px;
    height: 25px;
}

.save-button {
    width : 40px;
    height: 25px;
}

.share-button {
    width : 40px;
    height : 25px;
}
.share-input {
    width: 400px;
    height: 25px;
}

.cp-button {
    width : 40px;
    height : 25px;
}

.log-area {
    display: inline;
}

.log-container {
    display: inline;
}

.profile-list{
    display: inline;
}

.quit-button {
    width : 80px;
    height : 30px;
}

.main-page-container {
    padding-left: 15px;
}

.quit-button-container {
    text-align: center;
}
.clear-log-button {
    width : 80px;
    height : 30px;
}
.clear-log-container {
    text-align: center;
}

.sep-log-clear {
    height:5px;
}